<div class="row">
  <div class="large-7 large-centered columns">
    <h1 class="text-center">Password Reset</h1>
    <p class="text-center bottom-18">
      Afraid someone might have found out your password?<br> Reset it here.
    </p>
    <%= form_tag password_reset_path do %>
      <%= label_tag :current_password %>
      <%= password_field_tag :current_password %>
      <%= label_tag :password, "New password" %>
      <%= password_field_tag :password %>
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
      <%= submit_tag "Backup", class:"button expand radius top-18" %>
    <% end %>
  </div>
</div>
